<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Student</h1>
    <form action="addstuden" method="get">
    <label for="">email</label>
    <input type="text" placeholder="enter" name="email">
    <label for="">ephone</label>
    <input type="tel" placeholder="enter" name="phone">
    <label for="">passwodr</label>
    <input type="text" placeholder="enter" name="pass">
    <button>submit</button>
</form>
    <a href="./">Back to home page</a>
</body>
</html>