<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <a href="/add">Add a student</a>
        <a href="/search">Search student</a>
        <a href="/update">Update student</a>
        <a href="/delete">Delete student</a>
        <a href="/view">view student</a>
    </div>
</body>
</html>